.errorWrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img {
  width: 20%;
  height: 20%;
}

.text {
  font-size: 5vw;
}

.errorBtn {
  background-color: red;
  margin-bottom: 20px;
}
